<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @amu.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @amu.age %>
</p>

<%= link_to 'Edit', edit_amu_path(@amu) %> |
<%= link_to 'Back', amus_path %>
